{% extends 'base.html'%}
{% load static %}

{% block body%}
<section>
    <div class="container">
        <div class="row">
            <h1>Lista de grupos:</h1>
            {% if usuario.grupo_usuario.count %}
            {% for grupo in usuario.grupo_usuario.all %}
            <div class="panel panel-body">
                <div class="pane-header with-border">
                    <div class="user-block">
                        <img class="img-thumbnail" src="{% static 'img/group.png' %}" alt="">
                        <span class="username"><a href="#">{{grupo.titulo}}</a></span>
                        <a href="{% url 'sair_grupo' grupo.id %}" class="btn btn-danger pull-right ">Sair</a><span
                            class=""></span>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}


            <form action="{% url 'postar' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="modal fade" id="titulo" tabindex="-1" role="dialog"
                     aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Buscar grupo: </h4>
                            </div>
                            <div class="modal-body">
                                <input type="text" name="titulo" class="form-control">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="#" data-toggle="modal" data-target="#titulo" class="btn btn-primary btn-lg btn-block">Procurar
                    grupos</a>


            </form>
        </div>
    </div>
</section>
{% endblock %}

