{% extends 'base.html'%}
{% load static %}

{% block body%}
<section>
    <h1>Usuario: {{ request.session.usuario_logado }}</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form action="{% url 'home' %}" class="form-horizontal" method="post">
                    {% csrf_token %}
                    {% include 'form_base.html' %}
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>
{% endblock %}

